# Component definition build file

config = {
    requires: [ "error_codes", "progress_listener", "error_dialog", "ext_controllers", "button_container" ],
    provides: {
        lib: [
            "modules.gd",
            "modules/module.gd",
            "modules/loader.gd",
            "modules/active.gd"
        ],
        gui: {
            "modules/problem.xscn",
            "modules/problem",
            "modules/module_order.xscn",
            "modules/module_order"
        }
    }
}
