# Component definition build file

config = {
    "requires": [ "ext_controllers", "datetime", "error_dialog" ],
    "provides": {
        "lib": [
            "savegames.gd",
			"savegames/save_data.gd",
			"savegames/metadata_handler.gd"
        ],
		"gui": [
			"savegames/load_game.xscn",
			"savegames/load_game"
		]
    },
	"optional": {
		"modules": {
			"lib": [
				"save_modules.gd"
			],
			"gui": [
			]
		}
	}
}
